<html>
	<head>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="./javascripts/dependency/bootstrap/css/bootstrap.min.css">

		<!-- Optional theme -->
		<link rel="stylesheet" href="./javascripts/dependency/bootstrap/css/bootstrap-theme.min.css">

		<!-- Libs -->
		<script src="./javascripts/dependency/socket.io-1.3.7.min.js"></script>
		<script src="./javascripts/dependency/require.js"
				data-main="./javascripts/module/app/manifest.js"></script>
		<!-- Libs -->
	</head>
	
	<body ng-controller="controller">
		<div class="container">
			<small style="position: absolute; top:0; left: 0;">API Usage: {{apiLimitInfo.apiUsage.used}}/{{apiLimitInfo.apiUsage.limit}}</small>
			
			<div class="row text-center">				
				<div class="col-md-12">
					<h1>Invoice Total: {{getTotalInvoice() | currency}}</h1>
				</div>
			</div>

			<div class="row text-center">
				<div class="col-xs-4 col-sm-4 col-md-2" ng-repeat="filterDefinition in filterDefinitionList track by $index">
					<status-item datasource="applications"
								 filters="filterDefinition.filters"
								 title="filterDefinition.title"
								 criteria="filterDefinition.criteria"
								 on-click="setFilterDefinition(filterDefinition);">
					</status-item>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-12">
					
					<table class="table table-bordered table-striped">
						<tbody>
							<tr ng-repeat="app in applications | filter: isMatch:strict">
								<td>{{app.Name}}</td>
								<td>{{app.Status__c}}</td>
								<td>{{app.Invoice_Total__c | currency}}</td>
								<td>{{app.Locked_By__r.Name}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

		</div>
	</body>
</html>
